* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 1280px;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

.header-container {
    background: url("../assets/img/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.header {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 40px 0 43px;
}

h1 {
    margin: 30px 0 10px;
}

.header__nav {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.header__list {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.06em;
    line-height: 110%;
    color: #F1CDB3;
}

.header__logo_description {
    margin: 0;
    padding-left: 1px;
    color: #FFFFFF;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1em;
    line-height: 15px;
}

.header__list_link {
    color: inherit;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

.header__list_link:hover {
    color: #FAFAFA;
    transition-duration: .3s;
}

.header__list_item {
    color: #CDCDCD;
}

.header__list_item:first-child {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}

.header__list_item:not(:last-child) {
    margin-right: 35px;
}

/* section Not only */

.not-only {
    width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
    display: flex;
}

.not-only__content {
    flex-basis: 40%;
    margin-right: 42px;
}

.not-only__title {
    margin: 253px 0 42px 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
}

.not-only__description {
    margin-bottom: 42px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}

.not-only__btn {
    display: inline-block;
    margin: 0 0 152px 0;
    padding: 15px 45px;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.not-only__btn:hover {
    background: #FDDCC4;
    transition-duration: .3s;
}

.not-only__pic {
    margin-top: 87px;
    width: 60%;
    height: 728px;
    background-image: url("../assets/img/start-screen-puppy.png");
    background-repeat: no-repeat;
}

/* section About */

.about {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 80px 40px 85px;
    width: 1280px;
}

.about__left {
    width: 35%;
}

.about__pic {
    width: 300px;
    height: 408px;
    background-image: url("../assets/img/about-pets.png");
}

.about__title {
    width: 370px;
    margin-top: 16px;
    margin-bottom: 25px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 0.06em;
    line-height: 130%;
    color: #545454;
}

.about__description {
    margin-bottom: 25px;
    width: 430px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

.about__description:first-child {
    margin-bottom: 25px;
}

/*section Our friends*/

.friends__container {
    background-color: #F6F6F6;
}
.friends {
    margin: 0 auto;
    padding: 80px 40px 100px;
    width: 1280px;
    background: #F6F6F6;
}

.friends__title {
    margin: 0 auto 43px;
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 0.06em;
    line-height: 130%;
    color: #545454;
}

.friends__animals {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 41px;
}

.animals__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 50%;
}

.animals__circle:hover {
    background: #FDDCC4;
    cursor: pointer;
    transition-duration: .3s;
}

.animal__list {
    padding: 0 53px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.animal__item {
    overflow: hidden;
    border-radius: 9px;
    background: #FAFAFA;
}

.animal__item:hover {
    cursor: pointer;
    background: #FFFFFF;
}

.animal__item:hover .animal__pet_btn {
    background: #FDDCC4;
    transition-duration: .3s;
}

.animal__pet_photo {
    margin-bottom: 6px;
}

.animal__pet_name {
    margin-bottom: 29px;
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
}

.animal__pet_btn {
    display: block;
    width: 192px;
    margin: 0 auto 30px;
    padding: 15px 45px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background: inherit;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.animals__circle_arrow {
    transform: rotate(180deg);
}

.friends__btn {
    display: block;
    background: #F1CDB3;
    border-radius: 100px;
    margin: 0 auto;
    padding: 15px 44px;
    width: 260px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.06em;
    line-height: 130%;
    text-align: center;
}

.friends__btn:hover {
    background: #FDDCC4;
    cursor: pointer;
    transition-duration: .3s;
}

/* section Help */

.help__container {
    background-color: #FFFFFF;;
}

.help {
    margin: 0 auto 46px;
    padding: 53px 127px 0;
    width: 1280px;
}

.help__title {
    margin-bottom: 60px;
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.help__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.help__item {
    margin-right: 119px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.help__item_description {
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

.help__item:nth-child(5) {
    margin-right: 0;
}

.help__item:last-child {
    margin-right: 0;
}

/* In addition */

.addition {
    background: #F6F6F6;;
}

.addition__container {
    display: flex;
    justify-content: center;
    width: 1280px;
    margin: 0 auto;
}

.addition__left_img {
    margin: 91px 30px 106px 0;
}

.addition__title {
    margin-top: 80px;
    margin-bottom: 20px;
    width: 300px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 0.06em;
    line-height: 130%;
}

.addition__bank-name {
    margin-bottom: 20px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.06em;
    line-height: 110%;
    color: #545454;
}

.addition__card {
    display: inline-block;
    margin-bottom: 18px;
    padding: 9px 15px;
    background: #F1CDB3;
    border-radius: 9px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

.addition__card_logo {
    margin-right: 10px;
}

.addition__card_number {
    vertical-align: top;
}

.addition__description {
    width: 380px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}

/* footer */

footer {
background: url("../assets/img/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px 40px 0;
    width: 1280px;
}

.questions__title {
    width: 280px;
    margin: 16px 0 43px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.questions__title_second {
    margin-bottom: 33px;
}

.footer__questions-second {
    margin-left: -22px;
}

.questions__contacts {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 300px;
    margin-bottom: 47px;
}

.questions__contacts_item {

}

.questions__contacts_link {
    display: flex;
}

.questions__contacts_link:hover {
    text-decoration: underline;
    text-decoration-color: #F1CDB3;
}

.questions__logo {
    margin-right: 20px;
}

.gps {
    margin-top: 6px;
    margin-right: 19px;
}

.tel {
    margin-top: -5px;
}

.boston {
    margin-bottom: 37px;
}

.second__gps {
    margin-top: -6px;
    margin-right: 18px;
}

.questions__link, .questions__link_address {
    display: flex;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.questions__link:hover {
    text-decoration: underline;
    cursor: pointer;
    transition-duration: .3s;
}

.questions__pet {
    width: 300px;
    height: 310px;
    background-image: url("../assets/img/footer-puppy.png");
    background-repeat: no-repeat;
}









